
/* Animated throbber */
html.js input.allowed-values {
  background-image: url(/misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 2px; /* LTR */
}
html.js input.allowed-values-active {
  background-position: 100% -18px; /* LTR */
}

span.av{
  padding-right: 17px;
  background-repeat: no-repeat;
  background-position: right top;  
}

span.av-validated{
  background-image: url('../img/tick.png');
}


